/* Define o tamanho da logo que fica na navbar */
.logo-navbar{
    width: 110px;
    height: 60px;
}

.search-input{
    width: 300px;
    margin-right: 20px;
}

/* Define a cor da navbar */
.navbar {
    background-color: #2B6EB3;
    box-shadow: 0 2px 5px gray;
}

/* Define a borda da barra de pesquisa */
.search-input{
    border-color: #2B6EB3;
}

/* Define a cor dos links na navbar */
.navbar a {
    color: #2B6EB3;
}

.nav-item a {
    margin-left: 10px; 
}

/* Define a cor do texto no botão cadastro */
.navbar .btn-cadastro {
    color: #fff;
}

/* Define a cor do texto no botão cadastro quando passar o mouse */
.btn-cadastro:hover {
    background-color: #fff;
    color: #1e88e5;
    border-color: #1e88e5;
}

.form-inline.my-2.my-lg-0 {
    margin-left: 20px;
}

.navbar-nav li{
    display:inline-block;
    margin-right: 10px;
  }
  