.logo-navbar{
    width: 60px;
    height: 60px;
}

.search-input{
    width: 300px;
    margin-right: 20px;
}

.logo-section{
    width: 150px;
}
.text-section{
    padding: 20px;
}

/* Define a cor da navbar */
.navbar {
    background-color: #2B6EB3;
    box-shadow: 0 2px 5px gray;
}

/* Define a borda da barra de pesquisa */
.search-input{
    border-color: #2B6EB3;
}

/* Define a cor dos links na navbar */
.navbar a {
    color: #2B6EB3;
}

/* Define a cor dos botões */
.btn {
    background-color: #1e88e5;
    color: #fff;
    border-color: #1e88e5;
}

/* Define a cor do hover dos botões */
.btn:hover {
    background-color: #fff;
    color: #1e88e5;
    border-color: #1e88e5;
}

/* Define a cor invertida dos botões */
.inverted-btn{
    background-color: #fff;
    color: #1e88e5;
    border-color: #1e88e5;
    
}

/* Define a cor invertida do hover dos botões */
.inverted-btn:hover{
    background-color: #1e88e5;
    color: #fff;
}

.nav-item button {
    margin-left: 10px; /* ou outro valor em pixels */
}


/* Define a cor dos cards */
.card {
    background-color: #fff;
    border-color: #2B6EB3;
}

/* Define o background da seção das trilhas */
.trilhas-section {
    background-color: #fff;
}

/* Define o espaçamento do formulário da página cadastro */
.form-container{
    margin-top: 50px;
}

.form-gradient-blue {
    padding: 20px;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, #2B6EB3, #58abf4) 1;
}

